.detailContainer{
    display: flex;
    justify-content: center;
}

.ItemDetail {
  text-align: center;
  margin: 1rem 4rem;
  background-color: var(--cardBackground);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  width: 60%;
}

img {
  width: 200px;
  max-height: 133px;
  object-fit: cover;
  border-radius: 30px;
}

.ItemDetail p {
  margin-top: 1rem;
}

.ItemDetail h3 {
  color: var(--priceColor);
}

.divItemCount p {
  margin: 10px 0px;
}

.ItemDetailButtonsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
