.cardProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cardBackground);
    border-radius: 10px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem
}

.cardProducto img{
    width: 200px;
    max-height: 133px;
    object-fit: cover;
    border-radius: 30px;
}
.cardProducto h3{
    text-align: center;
}

.cardProducto p{
    color: var(--priceColor);
    font-weight: bold;
}